.categoryInputContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .label {
    font-size: 18px;
    color: #e50914; /* Netflix red */
    font-weight: bold;
  }
  
  .inputField {
    padding: 10px;
    border: 1px solid #404040;
    border-radius: 8px;
    background-color: #1c1c1c;
    color: white;
    font-size: 16px;
  }
  
  .inputField:focus {
    outline: none;
    border-color: #e50914;
    box-shadow: 0 0 8px rgba(229, 9, 20, 0.8);
  }
  