.registerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  width: 120vw; /* Ensure full width */
  background-color: #141414; /* Netflix dark theme */
  font-family: 'Quicksand', sans-serif;
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  box-sizing: border-box; /* Ensure padding doesn't affect width/height */
}

.registerContainer {
  max-width: 500px;
  width: 90%;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6); /* Subtle shadow for depth */
  background-color: #2c2c2c; /* Darker shade for contrast */
  text-align: center;
}

.registerTitle {
  font-size: 28px;
  margin-bottom: 20px;
  color: #e50914; /* Netflix red */
  font-weight: bold;
}

.registerForm {
  display: flex;
  flex-direction: column;
  color: rgb(208, 208, 208);
  gap: 10px;
}

.inputField {
  padding: 10px;
  border: 1px solid #404040;
  border-radius: 8px;
  font-size: 14px;
  background-color: #1c1c1c;
  color: white;
  transition: all 0.3s ease;
}

.registerButton {
  padding: 12px;
  font-size: 14px;
  border-radius: 8px;
  background: linear-gradient(45deg, #e50914, #b00710);
  color: white;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(229, 9, 20, 0.6);
  transition: all 0.3s ease;
  border: none;
}

.registerButton:hover {
  background: linear-gradient(45deg, #b00710, #e50914);
  transform: scale(1.03);
  box-shadow: 0 6px 15px rgba(229, 9, 20, 0.8);
}

.inputField:focus {
  outline: none;
  border-color: #e50914; /* Highlight red on focus */
  box-shadow: 0 0 8px rgba(229, 9, 20, 0.8);
}

.errorText {
  color: #e50914; /* Netflix red for errors */
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}
